*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* .box{
	width: 200px;
	height: 200px;
	position: relative;
}
.red{
	background-color: red;
}

.blue{
	background-color: blue;
}

.green{
	background-color: green;
}

.orange{
	background-color: orange;
}  */


.btn{
	width: 100px;
	height: 100px;
	border: 1px solid #333;
	border: 3px;
	box-shadow: 0 5px 10px #9999;
	display: flex;
	align-items: center;
	justify-content: center;
}






