@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Comfortaa';

}
body{
overflow: hidden;
}




.wrap{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dark__white-box{
position: relative;
left: 15%;
}
#dark{
width: 30px;
height: 30px;
z-index: 999;

}

#white{
	width: 30px;
	height: 30px;
	z-index: 999;
	
	}
	
	



.dark__box{
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;

}


.dark__bg__animation{
width: 10000px;
height: 10000px;
background-color: #333;
border-radius: 50%;
position: absolute;
z-index: -2;
animation-name: dark;
animation-duration: 4s;
animation-iteration-count: 1;
}
@keyframes dark {
	0%{
		width: 0px;
		height: 0px;
	}
	100%{
		width: 10000px;
		height: 10000px;
	}
}
.dark__bg__animation1{
	width: 0px;
	height: 0px;
	background-color: #333;
	border-radius: 50%;
	position: absolute;
	z-index: -2;
	animation-name: dark1;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
	}

	@keyframes dark1 {
		100%{
			width: 0px;
			height: 0px;
		}
		0%{
			width: 10000px;
			height: 10000px;
		}
	}



.main{
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.main__box{
	width: 70%;
	height: 80%;
}

.main__input{
	width: 100%;
	height: 100%;
	border: none;
	background-color: #333;
	color: #fff;
	font-size: 18px;
	outline: none;
	display: flex;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-right: 1%;
  z-index: 99;

}
::-webkit-scrollbar {
	width: 14px;
}


::-webkit-scrollbar-thumb {
	background: rgb(195, 53, 252);
	border-radius: 0px 0px 0px 0px;
	-webkit-border-radius:  0px 0px 0px 0px;
	-moz-border-radius:  0px 0px 0px 0px;
	-ms-border-radius:0px 0px 0px 0px ;
	-o-border-radius: 0px 0px 0px 0px;
	
}

::-webkit-scrollbar-thumb:hover {
	background: #0f4fae;
}

.button__go{
	width: 150px;
	height: 50px;
	border: none;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	font-size: 18px;
	margin-top: 1%;
	cursor: pointer;
	font-family: 700;


}
#button__menu{
position: relative;
bottom: 15%;
height: 70px;

}


#output{
text-align: center;
z-index: 999;

}

.header__box{
	width: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.main__box-reader{
	width: 100%;
	height: 100vh;
  display: flex ;
	align-items: center;
	justify-content: center;
	padding-bottom: 10%;
	color: #333;
	font-size: 48px;
	font-family: 'Comfortaa';
	font-family: 500;

}
#sppedValue{
cursor: pointer;
z-index: 999;

}

#newTextoReader{
display: flex;
}


@media screen and (max-width: 780px) {
	.button__go{
		margin-top: 3%;
	}
}
@media screen and (max-width: 550px) {
.main__box{
width: 95%;
}
#newTextoReader{
font-size: 24px;
}
::-webkit-scrollbar {
	width: 10px;
}
}

